body{
    margin:0;
    padding:0;
    font-family:Arial, Tahoma, sans-serif;
    background:#f4f6f9;
}

header{
    text-align:center;
    padding:22px;
    font-size:28px;
    font-weight:700;
    color:white;

    /* Gradient احترافي بين الأزرق والأخضر */
    background: linear-gradient(90deg, #0b3d91, #0f766e);

    letter-spacing:1px;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);
}
