body{
    margin:0;
    padding:0;
    font-family:Arial, Tahoma, sans-serif;
    background:#f4f6f9;
}

h1{
    margin:0;
    padding:20px;
    background:#1f4e79;
    color:white;
    text-align:center;
    font-size:32px;
    font-weight:bold;
}
